{% extends "UserBundle::layout.html.twig" %}

{% block content %}
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                    Dainos
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            {% for song in songs %}
                <li>
                    <a href="{{ path('_song_view', {id: song.id}) }}">{{ song.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-success btn-lg" href="{{ path("_song_add") }}">Pridėti</a>
    </div>
</div>
{% endblock %}
