{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ song.name }}</h1>
        <p>Atlikėjas: <a href="{{ path('_artist_view', {id: song.album.artist.id}) }}">{{ song.album.artist.name }}</a></p>
        <p>Albumas: <a href="{{ path('_view_album', {id: song.album.id}) }}">{{ song.album.name }}</a></p>
        <p>Žanras: <a href="{{ path('_genre_view', {id: song.genre.id}) }}">{{ song.genre.name }}</a></p>
        <p>{{ song.description }}</p>
        <a class="btn btn-primary btn-lg" href="{{ song.youtubeUrl }}">Youtube</a>
        {% if app.user and app.user.role == 'ROLE_ADMIN' %}
            <a class="btn btn-warning btn-lg" href="{{ path("_song_edit", {id: song.id}) }}">Redaguoti</a>
            <a class="btn btn-danger btn-lg" href="{{ path("_song_delete", {id: song.id}) }}">Trinti</a>
        {% endif %}
    </div>
{% endblock %}