{% extends "UserBundle::layout.html.twig" %}

{% block content %}
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Grojaraščiai
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            {% for playlist in playlists %}
                <li>
                    <a href="{{ path('_playlist_view', {id: playlist.id}) }}">{{ playlist.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-success btn-lg" href="{{ path("_playlist_add") }}">Pridėti</a>
    </div>
</div>
{% endblock %}
