{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ playlist.name }}</h1>
        {% if app.user and app.user.id == playlist.owner.id %}
            <a class="btn btn-warning btn-lg" href="{{ path("_album_edit", {id: playlist.id}) }}">Redaguoti</a>
            <a class="btn btn-danger btn-lg" href="{{ path("_album_delete", {id: playlist.id}) }}">Trinti</a>
        {% endif %}
    </div>
    {% if playlist.songs is not empty %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <td>Pavadinimas</td>
                <td>Žanras</td>
            </tr>
            </thead>
            <tbody>
            {% for song in playlist.songs %}
                <tr>
                    <td>
                        <a href="{{ path('_song_view', {id: song.id}) }}">
                            {{ song.name }}
                        </a>
                    </td>
                    <td>
                        {{ song.genre }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
