{% extends "UserBundle::layout.html.twig" %}

{% block content %}
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                <a href="{{ path('_artist_index') }}">
                    Atlikėjai
                </a>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            {% for artist in artists %}
                <li>
                    <a href="{{ path('_artist_view', {id: artist.id}) }}">{{ artist.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-success btn-lg" href="{{ path("_artist_add") }}">Pridėti</a>
    </div>
</div>
{% endblock %}
