{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ artist.name }}</h1>
        <p>{{ artist.description }}</p>
        <a class="btn btn-primary btn-lg" href="{{ artist.descriptionUrl }}">Skaityti daugiau</a>
        <a class="btn btn-primary btn-lg" href="{{ artist.page }}">Tinklalapis</a>
        {% if app.user and app.user.role == 'ROLE_ADMIN' %}
            <a class="btn btn-warning btn-lg" href="{{ path("_artist_edit", {id: artist.id}) }}">Redaguoti</a>
            <a class="btn btn-danger btn-lg" href="{{ path("_artist_delete", {id: artist.id}) }}">Trinti</a>
        {% endif %}
    </div>
    {% if artist.albums is not empty %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Pavadinimas</td>
                    <td>Metai</td>
                </tr>
            </thead>
            <tbody>
                {% for album in artist.albums %}
                    <tr>
                        <td>
                            <a href="{{ path("_view_album", {id: album.id}) }}">
                                {{ album.name }}
                            </a>
                        </td>
                        <td>
                            {{ album.releaseYear }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}