{% extends "UserBundle::layout.html.twig" %}

{% block content %}
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Albumai
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            {% for album in albums %}
                <li>
                    <a href="{{ path('_view_album', {id: album.id}) }}">{{ album.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-success btn-lg" href="{{ path("_album_add") }}">Pridėti</a>
    </div>
</div>
{% endblock %}
