{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ album.name }}</h1>
        <p>Atlikėjas: <a href="{{ path('_artist_view', {id: album.artist.id}) }}">{{ album.artist.name }}</a></p>
        <p>Žanras: <a href="{{ path('_genre_view', {id: album.genre.id}) }}">{{ album.genre.name }}</a></p>
        <p>{{ album.description }}</p>
        <a class="btn btn-primary btn-lg" href="{{ album.descriptionUrl }}">Skaityti daugiau</a>
        {% if app.user and app.user.role == 'ROLE_ADMIN' %}
            <a class="btn btn-warning btn-lg" href="{{ path("_album_edit", {id: album.id}) }}">Redaguoti</a>
            <a class="btn btn-danger btn-lg" href="{{ path("_album_delete", {id: album.id}) }}">Trinti</a>
        {% endif %}
    </div>
    {% if album.songs is not empty %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Pavadinimas</td>
                    <td>Žanras</td>
                </tr>
            </thead>
            <tbody>
                {% for song in album.songs %}
                    <tr>
                        <td>
                            <a href="{{ path('_song_view', {id: song.id}) }}">
                                {{ song.name }}
                            </a>
                        </td>
                        <td>
                            {{ song.genre }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}