{% extends "UserBundle::layout.html.twig" %}

{% block content %}
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Žanrai
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            {% for genre in genres %}
                <li>
                    <a href="{{ path('_genre_view', {id: genre.id}) }}">{{ genre.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-success btn-lg" href="{{ path("_genre_add") }}">Pridėti</a>
    </div>
</div>
{% endblock %}
