{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>{{ genre.name }}</h1>
        <p>{{ genre.description }}</p>
        <a class="btn btn-primary btn-lg" href="{{ genre.descriptionUrl }}">Skaityti daugiau</a>
        {% if app.user and app.user.role == 'ROLE_ADMIN' %}
            <a class="btn btn-warning btn-lg" href="{{ path("_genre_edit", {id: genre.id}) }}">Redaguoti</a>
            <a class="btn btn-danger btn-lg" href="{{ path("_genre_delete", {id: genre.id}) }}">Trinti</a>
        {% endif %}
    </div>
    {% if genre.albums is not empty %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>
                        Pavadinimas
                    </td>
                    <td>
                        Išleidimo metai
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for album in genre.albums %}
                    <tr>
                        <td>
                            <a href="{{ path('_view_album', {id: album.id}) }}">
                                {{ album.name }}
                            </a>
                        </td>
                        <td>
                            {{ album.releaseYear }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}