{% extends "UserBundle::layout.html.twig" %}

{% block content %}
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                <a href="{{ path('_artist_index') }}">
                    Atlikėjai
                </a>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            {% for artist in artists %}
                <li>
                    <a href="{{ path('_artist_view', {id: artist.id}) }}">{{ artist.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                <a href="{{ path('_album_index') }}">
                    Albumai
                </a>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            {% for album in albums %}
                <li>
                    <a href="{{ path('_view_album', {id: album.id}) }}">{{ album.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                <a href="{{ path('_song_index') }}">
                    Dainos
                </a>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            {% for song in songs %}
                <li>
                    <a href="{{ path('_song_view', {id: song.id}) }}">{{ song.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="page-header">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                <a href="{{ path('_genre_index') }}">
                    Žanrai
                </a>
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            {% for genre in genres %}
                <li>
                    <a href="{{ path('_genre_view', {id: genre.id}) }}">{{ genre.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}