<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 lt-ie10"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 lt-ie10"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Kupra.CMS - Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% block stylesheets %}
        {% stylesheets
        '@UserBundle/Resources/public/css/bootstrap.css'
        '@UserBundle/Resources/public/css/proton.css'
        '@UserBundle/Resources/public/css/animate.css'
        '@UserBundle/Resources/public/css/font-awesome.css'
        '@UserBundle/Resources/public/css/font-titillium.css'
        '@UserBundle/Resources/public/css/select2/select2.css'
        '@UserBundle/Resources/public/css/jquery.pnotify.default.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}

</head>

<body data-controller-handler="{{ app.request.attributes.get('_route')|camelize }}" class="">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Muzika</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{ path("_artist_index") }}">
                        Atlikėjai
                    </a>
                </li>
                <li>
                    <a href="{{ path("_album_index") }}">
                        Albumai
                    </a>
                </li>
                <li>
                    <a href="{{ path("_genre_index") }}">
                        Žanrai
                    </a>
                </li>
                <li>
                    <a href="{{ path("_song_index") }}">
                        Dainos
                    </a>
                </li>
                {% if app.user %}
                    <li>
                        <a href="{{ path("_playlist_index") }}">Grojaraščiai</a>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br/><br/><br/><br/>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block content %}{% endblock %}



{% block javascripts %}
    {% javascripts
    '@UserBundle/Resources/public/js/jquery.min.js'
    '@UserBundle/Resources/public/js/html5shiv.js'
    '@UserBundle/Resources/public/js/modernizr.js'
    '@UserBundle/Resources/public/js/jquery.cookie.js'
    '@UserBundle/Resources/public/js/bootstrap.min.js'
    '@UserBundle/Resources/public/js/bootstrap-tagsinput.min.js'
    '@UserBundle/Resources/public/js/raphael-min.js'
    '@UserBundle/Resources/public/js/morris.min.js'
    '@UserBundle/Resources/public/js/select2.min.js'
    '@UserBundle/Resources/public/js/jquery.pnotify.min.js'
    '@UserBundle/Resources/public/js/proton.js'
    '@UserBundle/Resources/public/js/global.js'
    %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>