<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 lt-ie10"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 lt-ie10"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>CMS - Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% stylesheets
    '@UserBundle/Resources/public/css/bootstrap.css'
    '@UserBundle/Resources/public/css/proton.css'
    '@UserBundle/Resources/public/css/animate.css'
    '@UserBundle/Resources/public/css/font-awesome.css'
    '@UserBundle/Resources/public/css/font-titillium.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}

</head>

<body class="login-page">

<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% block content %}{% endblock %}

{% javascripts
'@UserBundle/Resources/public/js/jquery.min.js'
'@UserBundle/Resources/public/js/html5shiv.js'
'@UserBundle/Resources/public/js/modernizr.js'
'@UserBundle/Resources/public/js/jquery.cookie.js'
%}

<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>