{% extends 'UserBundle::layout.login.html.twig' %}

{% block content %}

    <form class="login-form" action="{{ path('_security_check') }}" method="post">
        <section class="wrapper scrollable animated fadeInDown">
            <section class="panel panel-default">
                <div class="panel-heading">
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                            <span class="login-text">
                                Login
                            </span>
                        <div class="form-group">
                            <label for="email">Username</label>
                            <input type="text" class="form-control input-lg" id="email" placeholder="username" name="_username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control input-lg" id="password" placeholder="Password" name="_password">
                            <input type="hidden" name="_remember_me" value="1"/>
                        </div>
                    </li>
                </ul>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-lg btn-success">LOGIN TO YOUR ACCOUNT</button>
                    <br>
                </div>
            </section>
        </section>
    </form>

{% endblock %}