{% extends "UserBundle::layout.phtml.twig" %}

{% block contentBody %}
        {{ form_start(form) }}
        <dl>
                <dt>{{ form_label(form.username) }}</dt>
                <dd>{{ form_widget(form.username) }}</dd>
        </dl>
        <dl>
                <dt>{{ form_label(form.loginname) }}</dt>
                <dd>{{ form_widget(form.loginname) }}</dd>
        </dl>
        <dl>
                <dt>{{ form_label(form.name) }}</dt>
                <dd>{{ form_widget(form.name) }}</dd>
        </dl>
        <dl>
                <dt>{{ form_label(form.surname) }}</dt>
                <dd>{{ form_widget(form.surname) }}</dd>
        </dl>
        <dl>
                <dt>{{ form_label(form.description) }}</dt>
                <dd>{{ form_widget(form.description) }}</dd>
        </dl>
        <dl>
                <dt>{{ form_label(form.address) }}</dt>
                <dd>{{ form_widget(form.address) }}</dd>
        </dl>
        <dl>
                <dt>{{ form_label(form.password) }}</dt>
                <dd>{{ form_widget(form.password) }}</dd>
        </dl>
        <dl>
                <dt>{{ form_label(form.image) }}</dt>
                <dd>{{ form_widget(form.image) }}</dd>
        </dl>
        {{ form_end(form) }}
{% endblock %}